In [1]:
#inserting value using,insert()
list1=['k',3,'n','a','l']
list1.insert(1,"u")
print(list1)

['k', 'u', 3, 'n', 'a', 'l']

In [5]:
#inserting multiple values using nigative indexing
list2=['k','e','r','t','y']
list2.insert(30,"ff")
list2.insert(-30,"ff")
print(list2)

['ff', 'k', 'e', 'r', 't', 'y', 'ff']

In [6]:
#inserting list under list using indexing
list3=[90,80,70,60,50]
list3[2]=["gem","till"]
print(list3)

[90, 80, ['gem', 'till'], 60, 50]

In [7]:
#inserting list under list using index no.
list4=[10,20,30,40,50,60,70]
list4[3]=["q",3,20]
list4

[10, 20, 30, ['q', 3, 20], 50, 60, 70]

In [8]:
#inserting same values at different location (index no.)
list5=[2,3,4,5,6,6,7,8,9,6]
list5[0]=list5[1]=[66]
print(list5)

[[66], [66], 4, 5, 6, 6, 7, 8, 9, 6]

In [10]:
#adding values using .append()
#.append() adds a value at the end of the list
list6=['p','o','i','u']
list6.append('o')
print(list6)

['p', 'o', 'i', 'u', 'o']

In [12]:
#adding values using .append()
list7=['r','t','y','u']
list7.append('oo')
print(list7)

['r', 't', 'y', 'u', 'oo']

In [11]:
#joining 2 list using .extend()
list8=['w','e','r']
list9=('u','i')
list8.extend(list9)
print(list8)

['w', 'e', 'r', 'u', 'i']

In [13]:
#removing a specific value using .remove()
list01=['o','p','i']
list01.remove("i")
list01

['o', 'p']

In [14]:
#removing a value by getting user input
list02=['q','w','e','r','t','y']
g=input("which word u don't want")
for i in list02 :
  if i == g:
    list02.remove(i)
print(list02)

which word u don't wantq
['w', 'e', 'r', 't', 'y']

In [18]:
#removig a value using .pop()
#.pop() will delet last value by default
list03=["o","u","t","w",4,6]
list03.pop()
print(list03)

['o', 'u', 't', 'w', 4]

In [19]:
#removing a specific value using .pop()
list04=["o","u","t","w",4,6]
list04.pop(0)
print(list04)

['u', 't', 'w', 4, 6]

In [17]:
#deleting a list using del keyword
#if we want to print this list it will give a name error
list05=['z','a','s']
del list05
list05

NameError: name 'loc' is not defined

In [20]:
#deteting a specific value using using del keyword
list06=['y','u','o']
del list06[1]
list06

['y', 'o']

In [1]:
#getting maximum and minimum value in the list using .max() and .min()
list07=[90,10,20,30,40,50,60]
print("max value in list=",max(list07))
print("min value in list=",min(list07))

max value in list= 90
min value in list= 10

In [3]:
#sorting a list using .sort()
#.sort() sorts a list in asecending order
list07.sort()
print(list07)

[10, 20, 30, 40, 50, 60, 90]

In [2]:
#sorting a list in desending order using .sort(reverse=True)
list07.sort(reverse=True)
print(list07)

[90, 60, 50, 40, 30, 20, 10]

In [ ]:
#getting a count of specific value using .count()
list08=[1,2,3,3,3,1,5,2]
print(list08.count(3))