In [ ]:

#list allows duplicates values
list1=["list",2,3,4,5,7,2,2]
print(list1)
#to check the length of the list
print(len(list1))

['list', 2, 3, 4, 5, 7, 2, 2]
8

In [ ]:
#list constructor
list2=list(("av","tv"))
print(list)

<class 'list'>

In [ ]:
#taking user input and converting it into list and checking its length
list3=list(input("enter something"))
print(list3)
print(type(list3))
print(len(list3))

enter somethingunit
['u', 'n', 'i', 't']
<class 'list'>
4

In [ ]:
#2 method for defining empty list
list4=[] #by using empty square bracket
list5=list() #by using list constructor
print(type(list4))
print(type(list5))

<class 'list'>
<class 'list'>

In [ ]:
#a small block of code to cheak weather the rofi is present in the list or not
#using in keyword
list6=["dusk","till","down"]
if "down" in list6:
  print(" present")
else:
  print("nothing is there")

 present

In [ ]:
#a small block of code to prove that 'in' will work on only individual value not a partial value
list7=["thar",343]
if "thar" in list7:
  print("available")
else:
  print("not available")

not available

In [ ]:
#updating values in the list with index no.
list8=["time","heals","everything",454,345]
list8[3]="is it true"
print(list8)

['time', 'heals', 'everything', 'is it true', 345]

In [ ]:
#updating multiple values using range of index no.
list9=["thar","have","4x4",887,445]
list9[3:5]="petrol","deasel"
print(list9)

['thar', 'have', '4x4', 'petrol', 'deasel']

In [ ]:
#updating multiple values using range of index no. with differnce in range
list01=["k","l","m","n","o","p",'w',"j"]
list01[2:5:2]=[9,7]
print(list01)

['k', 'l', 9, 'n', 7, 'p', 'w', 'j']

In [1]:
#itrating items from a list using for loop
list02=[1,2,3,4,5,6,7,8,9]
for i in list02:
  print(i)

1
2
3
4
5
6
7
8
9