In [2]:
# Tuple
#defining a tuple
tuple1=("null","full")
print(tuple1)
print(type(tuple1))

('null', 'full')
<class 'tuple'>

In [3]:
#defining a empty tuple
#1st method
tuple2=()
print(tuple2)
print(type(tuple2))
#2nd mrthod
tuple3=tuple()
print(tuple3)
print(type(tuple3))

()
<class 'tuple'>
()
<class 'tuple'>

In [4]:
#tuple allows duplicate values
tuple4=("viz","fiz","viz","diz","fiz")
print(tuple4)

('viz', 'fiz', 'viz', 'diz', 'fiz')

In [5]:
#defining tuple using single value
#if we dont use comma (,) by the end of the element it will considerd as a string data type
tuplw5=("kunal")
print(type(tuplw5))
tuple6=("kunal",)
print(type(tuple6))
#defining the length of tuple
tuple7=("bil","is","on","mi",899)
print(len(tuple7))

<class 'str'>
<class 'tuple'>
5

In [6]:
#tuple can contain different data types
tuple8=(20,"vila",10.15,20+1j)
print(tuple8)
print(type(tuple8))

(20, 'vila', 10.15, (20+1j))
<class 'tuple'>

In [7]:
#defining a tuple using tuple() constructor
tuple9=["dill","hill","zill"]
tuple01=tuple(tuple9)
print(tuple01)

('dill', 'hill', 'zill')

In [8]:
#using a while loop for getting the data(values) from given tuple
tuple10=("abc","def","ghi")
i=0
while i < len(tuple10):
  print(tuple10[i])
  i=i+1
print("over")

abc
def
ghi
over

In [9]:
#modyfing tuples using arithmatic operators
#method 1
#joining 2 tuple using addition operator (+)
tuple02=('a','s','d','f')
tuple03=(1,2,3,4)
tuple11=tuple02+tuple03
print(tuple11)

('a', 's', 'd', 'f', 1, 2, 3, 4)

In [10]:
#modyfing tuples using arithmatic operators
#method 2
#multiplying a tuple using using multiply operator
tuple12=("civil","war")
tuple13=tuple12*3
print(tuple13)

('civil', 'war', 'civil', 'war', 'civil', 'war')

In [12]:
#getting the count of specific element using .count function i.e .count()
tuple14=(1,2,3,3,3,3,4,5,6,6,7,8,9)
print(tuple14)
print("count of 3 -",tuple14.count(3))
print("count of 6 -",tuple14.count(6))
print("count of 9 -",tuple14.count(9))

(1, 2, 3, 3, 3, 3, 4, 5, 6, 6, 7, 8, 9)
count of 3 - 4
count of 6 - 2
count of 9 - 1

In [13]:
#getting the index no. of specific element using .index()
tuple15=(1,2,3,4)
x=tuple15.index(3)
print("index of 3 -",x)

index of 3 - 2

In [14]:
#deleting a tuple using del keyword
tuple16=(1,2,3,3,4)
print(tuple16)
del tuple16
#if we want to print(t15) it will give name error which means it was deleted
print(tuple16)

(1, 2, 3, 3, 4)

NameError: name 'tuple16' is not defined

In [15]:
#how to modify a tuple using list() constructor because we cannot modify tuple directly
tuple17=("apple","banana","kiwi")
list1=list(tuple17)
list1[2]="cherry"
tuple17=tuple(list1)
print(tuple17)

('apple', 'banana', 'cherry')

In [16]:
#how to add a value using list() constructor
tuple18=("apple","bannana","kiwi")
list2=list(tuple18)
list2.append("cherry")
tuple18=tuple(list2)
print(tuple18)

('apple', 'bannana', 'kiwi', 'cherry')

In [17]:
#how to remove a value using list() constructor
tuple19=("apple","banana","cherry")
list3=list(tuple19)
list3.remove("apple")
tuple19=tuple(list3)
print(tuple19)

('banana', 'cherry')