In [ ]:
#properties of tuple
#tuple is immutable means modification is not possible in tuples.
#tuple is denoted by () round brackets.
#tuples are faster than lists#tuples are used for data that should not be changed.
#tuples can contain any type of data except set
#tuples are ordered means we can access the value inside the tuple using indexing no.
#tuples can contain any no. of data
#duplicates are allowed in tuple

In [ ]:
#tupel creation
tuple1=("thar","TharRoxx","scorpioN","scorpio",12,13)
print(tuple1)
print(type(tuple1))

('thar', 'TharRoxx', 'scorpioN', 'scorpio', 12, 13)
<class 'tuple'>

In [ ]:
#how to create an empty tuple
#method 1 : by using empty brackets
tuple2=()
print(type(tuple2))

#method 2 : by using tuple constructor
tuple3=tuple()
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>

In [ ]:
#how to create a tuple with single element
#If you want to create a tuple that only has one thing in it, you need to add a comma after that one element
tuple4=("thar")
print(type(tuple4))
tuple5=("thar",)
print(type(tuple5))

<class 'str'>
<class 'tuple'>

In [1]:
#tuples can convert a list into a tuple by using tuple contrustor
list1=["scorrpio","thar","TharRoxx","scorpio-n"]
tuple6=tuple(list1)
print(tuple6)

('scorrpio', 'thar', 'TharRoxx', 'scorpio-n')

In [ ]:
#tuple cannot modify directly because tuples are immutable but they can modify  using list() constructor

In [3]:
#method1
#here i remove a value using list() constructor using .remove()
tuple7=("scorrpio","thar","TharRoxx","scorpio-n")
list01=list(tuple7)
list01.remove("TharRoxx")
tuple7=tuple(list01)
print(tuple7)

('scorrpio', 'thar', 'scorpio-n')

In [4]:
#method2
#here i modyfing tuple using index no. of converted list
tuple8=("thar","scorpio","TharRoxx","scorpio-n")
list02=list(tuple8)
list02[2]="xuv700"
tuple8=tuple(list02)
print(tuple8)

('thar', 'scorpio', 'xuv700', 'scorpio-n')

In [5]:
#method3
#here i adding a value using list() constructor using .append()
tuple9=("scorrpio","thar","TharRoxx")
list03=list(tuple9)
list03.append("scorpio-n")
tuple9=tuple(list03)
print(tuple9)

('scorrpio', 'thar', 'TharRoxx', 'scorpio-n')

In [6]:
#deleting a tuple using del keyword
tuple10=("till","the","end")
print(tuple10)
del tuple10

('till', 'the', 'end')

In [7]:
#if we want to print after deleting it will give you name error
print(tuple10)

NameError: name 'tuple10' is not defined

In [8]:
#packing and unpacking of tuple

In [1]:
tuple11=(30,40,50,60)
#packing a tuple
thirty,fourty,fifty,sixty=tuple11
#unpacking a tuple
print(thirty)
print(fourty)
print(fifty)
print(sixty)

30
40
50
60